.comments-wrapper
  - comments = assessment.comment_questions
  .form-group
    .row.comments-i-b-wrapper
      - var splitclass = (comments.length == 1) ? 'col-sm-12' : 'col-sm-6'
      each comment, index in comments
        if index < 2
          div(class=splitclass)
            .txt-area-wrapper
              .comments-title= comment.title
              textarea.form-control(rows='3', placeholder='Comment', name='comments[#{comment._id}]', value='')
    if comments[2]
      .comments-title= comments[2].title
      .txt-area-wrapper
        textarea.form-control(rows='3', placeholder='Comment', name='comments[#{comments[2]._id}]', value='')
