form(action='/assessments/#{survey._id}', method='post')
  .col-md-12
    .alert.error-msg.
      Ooops! Please answer all the questions to continue.
    .survey-wrapper
      .s-header.text-center
        .s-image-wrapper
          img(src='/img/peak-logo.png', alt='peak logo')
        h1.s-title.text-center.text-uppercase #{assessment.tag}
      .section-buttons-wrapper
        !{buttonsText}
      if assessment.tag == 'SKILLS'
        skillTopSpaceClasses = "p-50 p-t-none"
        .info
          img(width='25', height='25', alt='info', src='/img/info-icon.svg')
          | If you feel this person should not be evaluated on this skill select not able to make a judgement.
      .row(class=skillTopSpaceClasses)
        .questions
          input.hide(name='step', value=step+1)
          input.hide(name='prevStep', value=step-1)
          input.hide(type='submit')
          each question, q_index in assessment.questions
            if submission
              include _edit_questions_list
            else
              include _questions_list
    if submission
      include _edit_comments_wrapper
    else
      include _comments_wrapper
    include _timeline_wrapper