extends ../application

block variables
  - var css_files = ['/css/assessment.css']
  - var js_files = ['/js/assessment.js']

block content
  #wrapper.container-fluid
    .row
      include _questions_form
