extends ../application

block variables
  script.
    var skillsQA = jsonParse("#{skillsQA}");
    var thrivingQA = jsonParse("#{thrivingQA}");
    var managerEffectivenessQA = jsonParse("#{managerEffectivenessQA}");
    var teamEffectivenessQA = jsonParse("#{teamEffectivenessQA}");
    var behavior = ("#{behavior}");

  - var css_files = ['/css/user-dash.css', '/css/commons.css', '/css/graphs.css', '/css/manager-effectiveness-graph.css', '/css/behavior-graph.css']
  - var js_files = ['/js/libraries/Chart-v2.0.2.min.js', '/js/libraries/d3.min.js','/js/user-dash.js', '/js/graphs-custom.js', '/js/manager-effectiveness-graph.js']

block content
  #wrapper.container-fluid
    .row
      .col-sm-9
        .s-wrapper
          .s-header.text-center
            img(src='img/peak-logo.png', alt='peak logo')
          h1.s-title.text-center Welcome to Peak
          .s-description.text-center.p-25
            | This tool is designed to help you plan for your growth at IMC Chicago. You will be
            | able to use the results  to set growth priorities and develop your individual growth plan.
          .row
            .peak-wrapper.p-25
              .img-wrapper
                img.img-responsive(src='img/peak-test-1.svg', alt='peak infographic')
              .bars-wrapper
                ul
                  li
                    a#thriving-b(href='')
                      span thriving
                  li
                    a#team-effectiveness-b(href='')
                      span team effectiveness
                  li
                    a#manager-effectiveness-b(href='')
                      span manager effectiveness
                  li
                    a#behaviors-b(href='')
                      span behaviors
                  li
                    a#skills-b(href='')
                      span skills
          .text-center
            button.btn.btn-default.text-uppercase.hvr-b-t
              if submittedNotification
                a(href='/files/pdf/#{user.full_legal_name} Growth Report.pdf' download)
                  img(src='/img/reports-icon.svg', alt='reports icon', width='24', height='12')
                  | Access your results
              else
                a
                  img(src='/img/reports-icon.svg', alt='reports icon', width='24', height='12')
                  | Access your results

            button.btn.btn-default.text-uppercase.hvr-b-t.m-l-5
              a
                img(src='/img/reports-icon.svg', alt='reports icon', width='24', height='12')
                | access your growth plan
        #showAllGraphs.panel-wrapper
          .panel.panel-default
            .panel-heading
              span.panel-title.text-capitalize
                img(src='img/analytics-icon.svg', width='35', height='35', alt='insights icon')
                | reports
              span#s-all-reports.panel-icon.pull-right(data-toggle='collapse', data-target='#reports-wrapper')
                img(src='img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
            #reports-wrapper.panel-body.collapse
              .panel-content-header.text-center
                button.btn.btn-gray(type='submit', data-toggle='tooltip', data-placement='top', title='Print')
                  img(src='img/print-icon-white.svg', width='20', height='20', alt='print')
                button.btn.btn-gray(type='submit', data-toggle='tooltip', data-placement='top', title='Export to PDF')
                  img(src='img/pdf-icon-white.svg', width='20', height='20', alt='export to pdf')
              .panel-content
                #thriving-panel.inner-panel-wrapper
                  .panel.panel-default
                    .panel-heading
                      .panel-title.text-capitalize.text-center
                        span thriving
                        span.panel-icon.pull-right(data-toggle='collapse', data-target='#thriving-wrapper')
                          img(src='img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
                  #thriving-wrapper.panel-body.collapse.in  
                    if(isThrivingEmpty)
                      .panel-content.text-center
                        | no data
                    else
                      .panel-content.text-center
                        canvas#thriving-chart
                #team-effectiveness-panel.inner-panel-wrapper
                  .panel.panel-default
                    .panel-heading
                      .panel-title.text-capitalize.text-center
                        span team effectiveness
                        span.panel-icon.pull-right(data-toggle='collapse', data-target='#team-effectiveness-wrapper')
                          img(src='img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
                  #team-effectiveness-wrapper.panel-body.collapse.in  
                    if(isTeamEffectivenessEmpty)
                      .panel-content.text-center
                        | no data
                    else
                      .panel-content.text-center
                      #wrapper.container-fluid.skills
                        .row
                          .col-md-12.g-cleared.chart-wrapper.team-effectiveness__chart-wrapper
                            // new html
                            .skill__item
                            .skill__item
                          .text-center.ratings.skills__legend
                            ul.skills__legend-wrapper
                              li.skills__label-item.skills__label_you
                                span
                                span You
                              li.skills__label-item.skills__label_manager
                                span
                                span Your manager
                              li.skills__label-item.skills__label_team
                                span
                                span Your team
                              li.skills__label-item.skills__label_raters
                                span
                                span Your multi-raters

                #manager-effectiveness-panel.inner-panel-wrapper
                  .panel.panel-default
                    .panel-heading
                      .panel-title.text-capitalize.text-center
                        span manager effectiveness
                        span.panel-icon.pull-right(data-toggle='collapse', data-target='#manager-effectiveness-wrapper')
                          img(src='img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
                  #manager-effectiveness-wrapper.panel-body.collapse.in  
                    if(isManagerEffectivenessEmpty)
                      .panel-content.text-center
                        | no data
                    else
                      .panel-content.text-center  
                        .row.text-center
                          #manager-effectiveness
                          //#manager-effectiveness-support
                        #manager-effectiveness-legend.text-center.ratings
                          ul.-legend
                            li
                              span
                              span.ratings__label enthusiastic yes
                            li
                              span
                              span.ratings__label yes
                            li
                              span
                              span.ratings__label neutral
                            li
                              span
                              span.ratings__label not really
                            li
                              span
                              span.ratings__label not at all
                #behaviors-panel.inner-panel-wrapper
                  .panel.panel-default
                    .panel-heading
                      .panel-title.text-capitalize.text-center
                        span behaviors
                        span.panel-icon.pull-right(data-toggle='collapse', data-target='#behaviors-wrapper')
                          img(src='img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
                  #behaviors-wrapper.panel-body.collapse.in
                    //.panel-content.text-center
                      | no data
                    #wrapper.container-fluid.behaviours
                      .row
                        .col-md-12.g-cleared.chart-wrapper.behaviours__chart-wrapper
                        .text-center.ratings.behaviours__legend
                          ul.behaviours__legend-wrapper
                            li.behaviours__label-item.behaviours__label_you
                              span
                              span You
                            li.behaviours__label-item.behaviours__label_manager
                              span
                              span Your manager
                            li.behaviours__label-item.behaviours__label_team
                              span
                              span Your team
                            li.behaviours__label-item.behaviours__label_raters
                              span
                              span Your multi-raters

                #skills-panel.inner-panel-wrapper
                  .panel.panel-default
                    .panel-heading
                      .panel-title.text-capitalize.text-center
                        span skills
                        span.panel-icon.pull-right(data-toggle='collapse', data-target='#skills-wrapper')
                          img(src='img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
                  #skills-wrapper.panel-body.collapse.in
                    if(isSkillEmpty)
                      .panel-content.text-center
                        | no data
                    else
                      .panel-content.text-center
                      #wrapper.container-fluid.skills
                        .row
                          .col-md-12.g-cleared.chart-wrapper.skills__chart-wrapper
                            // new html
                            .skill__item
                            .skill__item
                          .text-center.ratings.skills__legend
                            ul.skills__legend-wrapper
                              li.skills__label-item.skills__label_you
                                span
                                span You
                              li.skills__label-item.skills__label_manager
                                span
                                span Your manager
                              li.skills__label-item.skills__label_team
                                span
                                span Your team
                              li.skills__label-item.skills__label_raters
                                span
                                span Your multi-raters

      .col-sm-3
          .profile-wrapper.p-25
            .avatar.center-block
              img(src='#{user.avatar}', width='120', height='120', alt='avatar')
            .profile-name.text-capitalize.text-center.p-25
              span= userName
            ul.notifications
              each notification in notifications
                li
                  a(href=notification.url)
                    span
                      if notification.type.notificationType == 'SurveySubmission'
                        //img(src='/img/notice-icon-red.svg', width='23', height='23', alt='')
                      else
                        img(src='/img/notice-icon-orange.svg', width='23', height='23', alt='')
                    span= notification.text
          //
            li
              a(href='')
                span
                  img(src='/img/notice-icon-red.svg', width='23', height='23', alt='')
                span
                  | The following colleagues request your
                  | feedback no later than 7/10/16:
              ul.list-unstyled
                li
                  img(src='/img/avatar-b-small.svg', width='35', height='35', alt='avatar')
                  span Adam Apple
                li
                  img(src='/img/avatar-b-small.svg', width='35', height='35', alt='avatar')
                  span Bert Bees
                li
                  img(src='/img/avatar-b-small.svg', width='35', height='35', alt='avatar')
                  span Charlie Angels
            li
              a.text-uppercase.text-center(href='') see all
