extends ../application

block variables
  - var css_files = ['/css/assessment.css']
  - var js_files = ['/js/assessment.js']

block content
  #wrapper.container-fluid
    .row
      form(action='/assessments/#{survey._id}', method='post')
        .col-md-12
          .alert.error-msg.
            Ooops! Please answer all the questions to continue.
          .survey-wrapper
            .s-header.text-center
              .s-image-wrapper
                img(src='/img/peak-logo.png', alt='peak logo')
              h1.s-title.text-center.text-uppercase #{assessment.tag}
            .section-buttons-wrapper
              !{buttonsText}
            if assessment.tag == 'SKILLS'
              .info
                img(width='25', height='25', alt='info', src='/img/info-icon.svg')
                | If you feel this person should not be evaluated on this skill select not able to make a judgement.
            .row.p-50.p-t-none
              .questions
                input.hide(name='step', value=step+1)
                input.hide(name='prevStep', value=step-1)
                input.hide(type='submit')
                each question, q_index in assessment.questions
                  - var is_last_question = ((assessment.questions.length == q_index+1) ? 'last-question' : '')
                  .question.col-md-12(class=is_last_question)
                   .row
                    input.selected-answer.hide(name='questions[#{question._id}]')
                    label.col-xs-12.col-sm-5.m-t-20 #{question.title}
                    .col-xs-12.col-sm-10.col-sm-offset-1.m-t-10.text-center
                      ul.responses
                        each option, o_index in question.options
                          li
                            input(id='#{q_index}#{o_index}' type='radio', name='#{question._id}', value='o_index')
                            label.text-capitalize(for='#{q_index}#{o_index}') #{option}
                      span
                        input.select-emotion-option.hide(name='question_emotions[#{question._id}]', value='false')
                        button.btn.emotion-btn.btn-not-able-tmj(type='button', data-toggle='tooltip', data-placement='top', title='Not able to make a judgment')
                          img(src='/img/not-able-tmj-icon.svg', alt='')
          include _comments_wrapper
          include _timeline_wrapper