body {
  padding-bottom: 0px;
}

#wrapper.container-fluid {
  max-width: 1000px;
}

.survey-wrapper {
  background-color: #fff;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*IMC HEADER*/
div.s-header.text-center {
  text-align: left;
  padding: 55px 20px 25px 20px;
  padding-bottom: 0px;
  display: inline-block;
  width: 100%;
  background: -webkit-linear-gradient(#00b2ac, #fff, #fff);
  background: -o-linear-gradient(#00b2ac, #fff, #fff);
  background: -moz-linear-gradient(#00b2ac, #fff, #fff);
  background: linear-gradient(#00b2ac, #fff, #fff);
}

div.s-header.text-center div.s-image-wrapper {
  display: inline-block;
  padding: 10px 20px 10px 0px;
  border-right: 1px solid #0083bb;
}

div.s-header.text-center h1.s-title.text-center.text-uppercase {
  display: inline-block;
  padding: 10px 0px 10px 15px;
  font-size: 36px;
  margin: 0px;
  color: #00b5b0;
  vertical-align: bottom;
  line-height: 100%;
  font-weight: 300;
}

/*/////*/


.questions {
  padding-left: 20px;
  padding-right: 20px;
}

form label.col-xs-12.col-sm-5 { font-weight:normal; font-size:17px; }
form ul.responses { display:block; list-style:none; margin-top:15px; margin-bottom:15px; padding:0px; width:90%; }
form ul.responses::before{ content: '';position: relative; left: 10%; display: block; background-color: #ecedf0; height: 2px;width: 80%; z-index:1}
form ul.responses::after{ content: '';position: relative;left: 10%;display: block;height: 2px;width: 0%; margin-top:-2px; z-index:2; }
form ul.responses.timeline1::after { width:0%;}
form ul.responses.timeline2::after { 
  background: -webkit-linear-gradient(left, #fff , #00bbb2); 
  background: -o-linear-gradient(right, #fff , #00bbb2); 
  background: -moz-linear-gradient(right, #fff , #00bbb2); 
  background: linear-gradient(to right, #fff , #00bbb2);
  width:20%;}
form ul.responses.timeline3::after { 
  background: -webkit-linear-gradient(left, #fff , #00bbb2, #0081bd); 
  background: -o-linear-gradient(right, #fff , #00bbb2, #0081bd); 
  background: -moz-linear-gradient(right, #fff , #00bbb2, #0081bd); 
  background: linear-gradient(to right, #fff , #00bbb2, #0081bd); 
  width:40%;}
form ul.responses.timeline4::after { 
  background: -webkit-linear-gradient(left, #fff , #00bbb2, #0081bd, #336eac); 
  background: -o-linear-gradient(right, #fff , #00bbb2, #0081bd, #336eac); 
  background: -moz-linear-gradient(right, #fff , #00bbb2, #0081bd, #336eac); 
  background: linear-gradient(to right, #fff , #00bbb2, #0081bd, #336eac); 
  width:60%;}
form ul.responses.timeline5::after { 
  background: -webkit-linear-gradient(left, #fff , #00bbb2, #0081bd, #336eac, #005194 ); 
  background: -o-linear-gradient(right, #fff , #00bbb2, #0081bd, #336eac, #005194); 
  background: -moz-linear-gradient(right, #fff , #00bbb2, #0081bd, #336eac, #005194); 
  background: linear-gradient(to right, #fff , #00bbb2, #0081bd, #336eac, #005194);
  width:80%;}
form ul.responses li { display:inline-block; width:20%;text-align:center; vertical-align: top; float:left; position:relative }
form ul.responses li input { position:relative; top:0;left:50%;margin-left:-6px; display:none; }
form ul.responses li label.text-capitalize { font-weight:normal; color:#8f9092; padding-top:20px; }
form ul.responses li label.text-capitalize:hover { cursor:pointer; }
form ul.responses li input[type=radio]:checked + label.text-capitalize::before {content: '';position: absolute;border-radius:100%;left: 50%;top:0;width: 22px;height: 22px;margin: -12px 0 0 -11px;border: 2px solid #005194;z-index:3;background-color:#fff;} 
form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-5::before { width:30px; height:30px; margin: -16px 0 0 -15px; background-image:url(../img/peak-top-icon-1.svg); border:none; }
form ul.responses li input[type=radio] + label.text-capitalize::after{content: '';position: absolute;border-radius:100%;left: 50%;top:0;width: 8px;height: 8px;margin: -5px 0 0 -4px;background: #ecedf0;z-index:3; }
form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-b1::before { border-color:#00bbb2;}
form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-b2::before { border-color:#00bbb2;}
form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-b3::before { border-color:#0081bd;}
form ul.responses-7 li input[type=radio]:checked + label.text-capitalize.r-checked-b4::before { border-color:#336eac;}
form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-b4::before { border-color:#005194;}
form ul.responses li input[type=radio]:checked { transition: all 0.2s ease 0s; }
form ul.responses li input[type=radio]:checked + label.text-capitalize { color:#005194; }
form ul.responses li input[type=radio]:checked + label.text-capitalize::after  { background: #005194; z-index:3; } 

form ul.responses li input[type=radio]:checked + label.text-capitalize.label-c-1 { color:#00bbb2; }
form ul.responses li input[type=radio]:checked + label.text-capitalize.label-c-2 { color:#00bbb2; }
form ul.responses li input[type=radio]:checked + label.text-capitalize.label-c-3 { color:#0081bd; }
form ul.responses li input[type=radio]:checked + label.text-capitalize.label-c-4 { color:#336eac; }
form ul.responses li input[type=radio]:checked + label.text-capitalize.label-c-5 { color:#005194; }

form ul.responses li input[type=radio] + label.text-capitalize.r-color-1::after, form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-1::after { background-color:#fff; border:1px solid #00bbb2 }
form ul.responses li input[type=radio] + label.text-capitalize.r-color-2::after,form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-2::after { background-color:#00bbb2; }
form ul.responses li input[type=radio] + label.text-capitalize.r-color-3::after,form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-3::after { background-color:#0081bd; }
form ul.responses li input[type=radio] + label.text-capitalize.r-color-4::after,form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-4::after { background-color:#336eac; }
form ul.responses li input[type=radio] + label.text-capitalize.r-color-5::after,form ul.responses li input[type=radio]:checked + label.text-capitalize.r-checked-5::after { background-color:transparent; }
.btn-not-able-tmj {top: 0px; position: absolute; right:15px; width:33px; height:33px; border-radius:100%; padding:4px; background-color:#cfcfd1; } 
.btn-not-able-tmj:hover { background-color:#1f96d3; }
form.questions div.col-xs-12.col-sm-7 { padding-bottom:15px; }

/*COMMENTS*/
.comments-wrapper {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 25px;
}

div.comments-wrapper div.form-group {
  margin-bottom: 0px;
}

div.txt-area-wrapper textarea.form-control {
  border: none;
  background-color: #f5f6f8;
  border-radius: 3px;
  resize: none;
  box-shadow: none;
}

div.row.comments-i-b-wrapper div.col-sm-6:last-child {
  padding-left: 5px;
  padding-bottom: 15px;
}

div.row.comments-i-b-wrapper div.col-sm-6 div.txt-area-wrapper {
  padding-bottom: 0px;
}

div.comments-title {
  padding-bottom: 5px;
}

.tooltip-inner {
  max-width: 500px;
}

/*SECTION BUTTONS*/
.section-buttons-wrapper {
  padding: 15px 20px 10px 20px;
}

div.questions div.question.col-md-12:first-of-type { padding-top: 15px; } 
div.survey-wrapper div.info { padding:0px 15px 10px 15px; color:#8f9092; font-style:italic; }

button.btn.btn-st.text-capitalize {
  background-color: #739fc5;
  padding: 12px 20px 12px 20px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
}

button.btn.btn-st.text-capitalize:hover {
  background-color: #1f96d3;
}

/*timeline NOTE ALREADY HAVE THIS CODE ON PREVIOUS PAGES*/
.timeline {
  background-color: #fff;
  border-radius: 0px 0px 3px 3px;
  display: table;
  width: 100%;
  padding: 25px 10px 25px 10px;
}

.timeline-header {
  background-color: #f5f6f8;
  border-radius: 3px 3px 0px 0px;
  padding: 10px 15px 10px 15px;
}

.timeline-icon {
  display: table-cell;
  width: 25px;
  height: 25px;
}

div.timeline div.progress {
  margin-bottom: 0px;
  height: 2px;
  background-color: #edf0ec;
  background-image: none;
  overflow: visible;
  margin: 0px 20px 0px 20px;
  box-shadow: none;
  position: relative;
}

div.timeline div.progress:after {
  content: "";
  height: 8px;
  width: 8px;
  background: #ecedf0;
  border-radius: 10px;
  margin-top: -3px;
  margin-right: -8px;
  position: absolute;
  right: 0;
}

div.progress-bar.progress-bar-success:before {
  content: "";
  float: left;
  height: 8px;
  width: 8px;
  background: #1e92cb;
  border-radius: 10px;
  margin-top: -3px;
  margin-left: -8px;
}

div.progress-bar.progress-bar-success {
  background-color: #1f99d5;
  background-image: none;
  box-shadow: none;
  position: relative;
  z-index: 2;
}

.timeline-circle {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-color: #1e92cb;
  float: right;
  margin: -11px -12px 0px -12px;
  padding: 2px;
}

.timeline-circle-inner {
  left: 0px;
  width: 21px;
  height: 21px;
  border: 6px solid;
  border-radius: 100px;
  transition: all 0.2s ease 0s;
}

.btn-gray {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding-top: 6px;
  padding-left: 8px;
  background-color: #cfcfd1;
  margin-left: 5px;
}

.btn-gray:hover {
  background-color: #1e92cb;
}

div.timeline-header span {
  font-size: 17px;
  font-weight: bold;
  margin-left: 5px;
}

.sticky-timeline {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  transition: 0.3s ease 0s;
}

.sticky-timeline-inner {
  max-width: 970px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #2d3644;
}

.tooltip-inner {
  background-color: #2d3644;
  padding: 7px 15px;
  border-radius: 2px;
  font-size: 14px;
}

div.alert.error-msg {
  box-shadow: none;
  margin-top: 25px;
  background-color: #FC6E51;
  color: #fff;
  font-weight: bold;
  display: none;
  border-radius: 3px;
}

/*FOOTER*/
footer.global.navbar.navbar-default {
  position: relative;
}

@media screen and (max-width: 480px) {
  ul.responses li:first-child::before, ul.responses li:last-child::after {
    width: 24px;
    height: 24px;
    top: -12px;
    content: ''
  }

  form ul.responses li label.text-capitalize {
    font-size: 13px;
  }

  div.row.comments-i-b-wrapper div.col-md-6:last-child {
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  div.row.comments-i-b-wrapper div.col-sm-6:last-child {
    padding-left: 15px;
  }

  div.row.comments-i-b-wrapper div.col-sm-6:first-child {
    padding-bottom: 15px;
  }

  button.btn.btn-st.text-capitalize {
    width: 100%;
    margin-bottom: 10px;
  }
}
