* {
  box-sizing: border-box;
}
div#wrapper {
  max-width: 1000px;
}
.manager-effectiveness .ratings__label {
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;
}
#manager-effectiveness {
  max-width: 500px;
  max-height: 500px;
}
#manager-effectiveness-legend ul {
  list-style: none;
}
#manager-effectiveness-legend ul li {
  display: inline-block;
  padding-right: 15px;
  color: #8f9092;
  font-size: 13px;
}
#manager-effectiveness-legend ul li:nth-child(1) span:first-child {
  background-color: #3f346e;
}
#manager-effectiveness-legend ul li:nth-child(2) span:first-child {
  background-color: #456ca3;
}
#manager-effectiveness-legend ul li:nth-child(3) span:first-child {
  background-color: #42a2a0;
}
#manager-effectiveness-legend ul li:nth-child(4) span:first-child {
  background-color: #87c5ba;
}
#manager-effectiveness-legend ul li:nth-child(5) span:first-child {
  background-color: #d5d0cc;
}
#manager-effectiveness-legend ul li:nth-child(1) span:second-child {
  color: #3f346e;
}
#manager-effectiveness-legend ul li:nth-child(2) span:second-child {
  color: #456ca3;
}
#manager-effectiveness-legend ul li:nth-child(3) span:second-child {
  color: #42a2a0;
}
#manager-effectiveness-legend ul li:nth-child(4) span:second-child {
  color: #87c5ba;
}
#manager-effectiveness-legend ul li:nth-child(5) span:second-child {
  color: #d5d0cc;
}
#manager-effectiveness-legend ul li span:first-child {
  height: 16px;
  width: 16px;
  display: inline-block;
  border-radius: 100px;
  margin-right: 5px;
  vertical-align: middle;
}
#manager-effectiveness-support {
  max-width: 200px;
  max-height: 500px;
}
#manager-effectiveness,
#manager-effectiveness-support {
  /*float: left;*/
}
.g-clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.chart-wrapper {
  min-width: 800px;
}
.g-cleared {
  float: none;
  clear: both;
  /*padding-bottom: 1px;*/
  /* Margin-bottom fix for Opera <= 10 */
}
.g-cleared:after {
  clear: both;
  display: block;
  content: ' ';
}
.skills {
  /*    .x.axis path {
            display: none;
        }*/
}
.skills .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.skills .domain {
  fill: #E8DADA;
}
.skills__yaxis .domain {
  fill: none;
  display: none;
  stroke: none;
  stroke-width: 0px;
}
.skills__legend {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #E0E0E0;
  margin-left: 177px;
  margin-right: 58px;
}
.skills__legend-wrapper {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.skills__legend-wrapper li {
  display: inline-block;
  padding-right: 15px;
  color: #8f9092;
  font-size: 13px;
}
.skills__legend-wrapper li span {
  vertical-align: middle;
}
.skills__legend-wrapper li span:first-child {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.skills__legend-wrapper li.skills__label_you > span:first-child {
  background-color: #1C4594;
}
.skills__legend-wrapper li.skills__label_manager > span:first-child {
  background-color: #12AEA9;
}
.skills__legend-wrapper li.skills__label_team > span:first-child {
  background-color: #C2C3C4;
}
.skills__legend-wrapper li.skills__label_raters > span:first-child {
  background-color: #1274BB;
}
.skills .axis text,
.skills .x-axis text {
  fill: #909292;
}
.behaviours .axis path {
  fill: none;
  stroke: #E8DADA;
  shape-rendering: crispEdges;
}
.behaviours .domain {
  fill: #E8DADA;
  display: none;
}
.behaviours__chart-item {
  position: relative;
}
.behaviours__chart-title {
  position: absolute;
  top: 72px;
  left: 40px;
  line-height: 1.2;
  width: 130px;
  color: #2DB8B3;
  font-weight: bold;
}
.behaviours__ylabel {
  fill: #3C4C8A;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.behaviours__xaxis line {
  display: none;
}
.behaviours__yaxis .domain {
  fill: none;
  display: none;
  stroke: none;
  stroke-width: 0px;
}
.behaviours__legend {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #E0E0E0;
  margin-left: 177px;
  margin-right: 58px;
}
.behaviours__legend-wrapper {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.behaviours__legend-wrapper li {
  display: inline-block;
  padding-right: 15px;
  color: #3C4C8A;
  font-size: 13px;
}
.behaviours__legend-wrapper li span {
  vertical-align: middle;
}
.behaviours__legend-wrapper li span:first-child {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.behaviours__legend-wrapper li.behaviours__label_you > span:first-child {
  background-color: #1C4594;
}
.behaviours__legend-wrapper li.behaviours__label_manager > span:first-child {
  background-color: #12AEA9;
}
.behaviours__legend-wrapper li.behaviours__label_team > span:first-child {
  background-color: #C2C3C4;
}
.behaviours__legend-wrapper li.behaviours__label_raters > span:first-child {
  background-color: #1274BB;
}
.behaviours .axis text,
.behaviours .x-axis text {
  fill: #9E9E9E;
  font-size: 12px;
}
