footer.global.navbar.navbar-default {
  margin-top: 25px;
}

.m-b-15{
  margin-bottom: 15px;
}

.emotion-btn-active {
  background-color: #1f96d3 !important;
}

.p-a{
  padding: 10px;
}

.p-t-none{
  padding-top: 0px !important;
}

.p-50{
  padding: 50px;
}

.m-t-10{
  margin-top: 10px;
}

.m-t-20{
  margin-top: 20px;
}

.fixed{
  position: fixed !important;
}

form ul.responses li label.text-capitalize{
  text-transform: none !important;
}

.m-l-5{
    margin-left: 5px !important;
}

/*PROFILE WRAPPER*/
div.profile-wrapper.p-25 {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    padding: 25px 0px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

div.profile-wrapper.p-25 div.avatar {
    width: 120px;
    height: 120px;
    background-color: #f5f6f8;
    border-radius: 100%;
}

div.profile-wrapper.p-25 div.avatar img {
    border-radius: 100%;
}

div.profile-wrapper.p-25 div.profile-name.text-capitalize.text-center.p-25 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

div.profile-wrapper.p-25 ul.notifications {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #ecedef;
}

div.profile-wrapper.p-25 > ul.notifications > li {
    border-bottom: 1px solid #ecedef;
    color: #8f9092;
}

div.profile-wrapper.p-25 ul.notifications li a {
    display: block;
    color: #8f9092;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

div.profile-wrapper.p-25 ul.notifications li a:hover {
    background-color: #f5f6f8;
}

div.profile-wrapper.p-25 ul.notifications li a span {
    display: table-cell;
}

div.profile-wrapper.p-25 ul.notifications li a span:first-child {
    padding-right: 5px;
}

div.profile-wrapper.p-25 ul.notifications li a span img {
    top: 5px;
}

div.profile-wrapper.p-25 > ul.notifications > li:last-child {
    background-color: #f5f6f8;
    font-weight: bold;
    padding: 5px;
}

div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled {
    padding-left: 55px;
}

div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li {
    padding: 5px 25px 5px 0px;
}

div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li:last-child {
    padding-bottom: 20px;
}

div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li span {
    color: #51555b;
    font-weight: bold;
}

#manager-effectiveness > svg{
    height: 400px;
    width: 400px;
}
