#manager-effectiveness {
    max-width: 500px !important;
    max-height: 500px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

#manager-effectiveness-legend ul {
    list-style: none !important;
}

#manager-effectiveness-legend ul li {
    display: inline-block !important;
    padding-right: 15px !important;
    color: #8f9092 !important;
    font-size: 13px !important;
}

#manager-effectiveness-legend ul li:nth-child(1) span:first-child {
    background-color: #3f346e !important;
}

#manager-effectiveness-legend ul li:nth-child(2) span:first-child {
    background-color: #456ca3 !important;
}

#manager-effectiveness-legend ul li:nth-child(3) span:first-child {
    background-color: #42a2a0 !important;
}

#manager-effectiveness-legend ul li:nth-child(4) span:first-child {
    background-color: #87c5ba !important;
}

#manager-effectiveness-legend ul li:nth-child(5) span:first-child {
    background-color: #d5d0cc !important;
}

#manager-effectiveness-legend ul li:nth-child(1) span:second-child {
    color: #3f346e !important;
}

#manager-effectiveness-legend ul li:nth-child(2) span:second-child {
    color: #456ca3 !important;
}

#manager-effectiveness-legend ul li:nth-child(3) span:second-child {
    color: #42a2a0 !important;
}

#manager-effectiveness-legend ul li:nth-child(4) span:second-child {
    color: #87c5ba !important;
}

#manager-effectiveness-legend ul li:nth-child(5) span:second-child {
    color: #d5d0cc !important;
}

#manager-effectiveness-legend ul li span:first-child {
    height: 16px !important;
    width: 16px !important;
    display: inline-block !important;
    border-radius: 100px !important;
    margin-right: 5px !important;
    vertical-align: middle !important;
}

#manager-effectiveness-panel{
    /*height: 500px*/
}
