/*WE HAVE THIS IN LAYOUT/TEMPLATE*/
html,body { padding-bottom:0px;  }

#wrapper.container-fluid { max-width:1500px; }

/*WE ALREADY HAVE THIS IN USER-DASH!!!!*/
/*PROFILE WRAPPER*/
div.profile-wrapper.p-25 { margin-top:25px; margin-bottom:25px; background-color:#fff; padding:25px 0px 0px 0px; border-radius: 3px 3px 0px 0px; }
div.profile-wrapper.p-25 div.avatar { width:120px; height:120px; background-color:#f5f6f8; border-radius:100%; } 
div.profile-wrapper.p-25 div.profile-name.text-capitalize.text-center.p-25 { font-size:18px; font-weight:bold; padding-top:10px; padding-bottom:20px; }
div.profile-wrapper.p-25 ul.notifications { list-style:none; padding:0px; margin:0px; border-top:1px solid #ecedef; }
div.profile-wrapper.p-25 > ul.notifications > li { border-bottom:1px solid #ecedef; color:#8f9092; }
div.profile-wrapper.p-25 ul.notifications li a { display:block; color:#8f9092; padding:10px 25px 10px 25px; text-decoration:none; }
div.profile-wrapper.p-25 ul.notifications li a:hover { background-color:#f5f6f8;}
div.profile-wrapper.p-25 ul.notifications li a span { display:table-cell; vertical-align:middle; }
div.profile-wrapper.p-25 ul.notifications li a span:first-child { padding-right:5px;}
div.profile-wrapper.p-25 ul.notifications li a span img { top:5px; }
div.profile-wrapper.p-25 > ul.notifications > li:last-child { background-color:#f5f6f8; font-weight:bold; padding:5px; }
div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled { padding-left:55px; }
div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li { padding: 5px 25px 5px 0px; }
div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li:last-child { padding-bottom:20px; }
div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li span { color:#51555b; font-weight:bold; }


/*PANEL*/
div.col-sm-12.col-md-9 div.panel-wrapper { padding-bottom: 25px; }
div.col-sm-12.col-md-9 div.panel-wrapper:first-child { padding-top:25px; }
div.col-sm-12.col-md-9 div.panel-wrapper:last-child { padding-bottom:0px; }
div.col-sm-12.col-md-9 div.panel-wrapper div.panel.panel-default { border:none; box-shadow:none; border-radius:3px; background-color:#e4e5e7; margin-bottom:0px; }
div.panel-wrapper div.panel.panel-default div.panel-heading { background-image:none; background-color:#fff; border-bottom:1px solid #e5e6e8; padding:12px 20px 12px 20px; }
div.panel-wrapper div.panel.panel-default div.panel-heading span.panel-title.text-capitalize { font-size:17px; font-weight:bold; color:#51555b;}
div.panel-wrapper div.panel.panel-default div.panel-heading span.panel-title.text-capitalize img { margin-right:10px; }
div.panel-wrapper div.panel.panel-default div.panel-heading span.panel-icon.pull-right { padding-top:6px; }
div.panel-wrapper div.panel.panel-default div.panel-heading span.panel-icon.pull-right:hover { cursor:pointer; }
div.panel-body { padding:0px; }
div.panel-body div.panel-content-header.text-center { background-color:#f2f3f5; padding:10px; border-bottom:1px solid #e5e6e8; }
div.panel-body div.panel-content { padding:20px; }
div.panel-body div.panel-content ul.list-unstyled { margin-bottom:0px; }
div.panel-body div.panel-content ul.list-unstyled li { background-color:#fff; padding:7px 10px 7px 10px; border-radius:3px; margin-bottom:5px; }
div.panel-body div.panel-content ul.list-unstyled li img { margin-left:5px; margin-right:5px; }

div#analytics-wrapper.panel-body.collapse div.panel-content { background-color:#fff; }
/*WE HAVE THIS IN LAYOUT/TEMPLATE*/
.btn-gray { width:40px; height:40px;border-radius: 100px;padding-top: 6px; padding-left: 8px; background-color:#cfcfd1; margin-left:5px; }
.btn-gray:hover { background-color:#1e92cb; }
.tooltip.top .tooltip-arrow{ border-top-color: #2d3644; }
.tooltip-inner{ background-color:#2d3644; padding:7px 15px; border-radius:2px; font-size:14px; }

/*ANALYTICS*/
div.graph-title.text-capitalize.text-center { font-size:17px; font-weight:bold; padding-bottom:5px; }
/*timeline NOTE ALREADY HAVE THIS CODE ON PREVIOUS PAGES*/
.timeline { background-color:#fff; border-radius:0px 0px 3px 3px; margin-bottom:30px; display:table; width:100%; padding:20px; }
.timeline-header { background-color:#f5f6f8; border-radius:3px 3px 0px 0px; padding:10px; }
.timeline-icon { display:table-cell; background-color:#CFCFD1; width:25px; height:25px; }
div.timeline div.progress { margin-bottom:0px; height:2px; background-color:#edf0ec; background-image:none; overflow:visible; margin:0px 20px 0px 20px; box-shadow:none; position: relative;}
div.timeline div.progress:after{ content: ""; height: 8px; width: 8px; background:#ecedf0; border-radius: 10px; margin-top:-3px; margin-right:-8px; position:absolute; right:0;}
div.progress-bar.progress-bar-success:before { content: ""; float: left; height: 8px; width: 8px; background:#1e92cb; border-radius: 10px; margin-top:-3px; margin-left:-8px; }
div.progress-bar.progress-bar-success { background-color:#1f99d5; background-image:none; box-shadow:none; position: relative;
z-index: 2; }
.timeline-circle { width:25px; height:25px; border-radius:100px; background-color:#1e92cb; float:right; margin: -11px -12px 0px -12px; padding:2px; }
.timeline-circle-inner { left: 0px; width: 21px; height: 21px; border: 6px solid; border-radius: 100px; transition: all 0.2s ease 0s;}
#graph1-legend ul { list-style:none; }
#graph1-legend ul li { display:inline-block; padding-right:15px; color:#8f9092; font-size:13px; }
#graph1-legend ul li span:first-child {height: 10px;width: 10px;display: inline-block;border-radius: 15px; margin-right:5px; }

/*timeline this page only*/
/*recheck these later*/
div.panel-body div.panel-content ul.list-unstyled li.assessment-wrapper { padding:0px; margin-bottom:20px; }
div.panel-body div.panel-content ul.list-unstyled li.assessment-wrapper:last-child { margin-bottom:0px; }
div.panel-body div.panel-content ul.list-unstyled li.assessment-wrapper img { margin:0px; }
li.assessment-wrapper div.assessment { display:table-cell; width:100%; border-right:1px solid #ecedef; }
li.assessment-wrapper div.assessment-action-buttons-wrapper { display:table-cell; padding-left: 20px; padding-right: 20px; vertical-align: middle; }
li.assessment-wrapper div.assessment-action-buttons-wrapper div.assessment-action-buttons { width:100px; }

div.assessment div.assesment-title { font-size:15px; font-weight:bold; padding:20px 20px 5px 20px; }
div.assessment div.timeline { margin-bottom:0px; padding-top:0px; }


/*NOTIFICATIONS*/
div.notification-wrapper { display:inline-block; }
div.notification-wrapper div.notification-icons { display:inline-block; vertical-align:middle; }
div.notification-wrapper div.notification-text-wrapper { display:inline-block; vertical-align:middle; }
div.notification-wrapper div.notification-text-wrapper div.notification-title { font-size:17px; }
div.notification-wrapper div.notification-text-wrapper div.notification-description { color:#8f9092; }

/*select2*/
select.c-select, .select2 { width:100% !important; }
.select2-container { padding-bottom:5px; }
.select2-container--default .select2-results > .select2-results__options { overflow:hidden; }
.select2-container--default .select2-selection--single { border-color:#e5e6e8; border-radius: 2px; }
.select2-container .select2-selection--single { height:45px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height:45px; padding-left: 10px; padding-right: 30px; color:#8f9092; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height:45px; width:30px; }
.select2-dropdown { border-color:#e5e6e8; border-radius:3px; }
.select2-search--dropdown { padding:10px; background-color: #f2f3f5; border-bottom:1px solid #e5e6e8; }
.select2-container--default .select2-search--dropdown .select2-search__field { height: 35px; border-color:#fff; border-radius:2px; }
.select2-results__option { padding:10px; }
.select2-container--default .select2-results__option--highlighted[aria-selected] { border-left: 3px solid #1C99D6; transition: 0.3s ease 0s; -webkit-transition: 0.3s ease 0s; background-color:transparent; color:#51555b; }
.select2-container--default .select2-results__option[aria-selected="true"] { background-color: #f2f3f5; }
.btn-gray-fw { border-radius:2px; width:100%; padding:10px; background-color:#cfcfd1; }
.btn-gray-fw:hover { background-color:#1C99D6; }
.select2-results{ max-height:200px; }

/*SCROLL*/
.mCSB_inside > .mCSB_container { margin-right:0px; }
.mCSB_scrollTools .mCSB_draggerContainer {top: 15px; bottom: 15px; right: 10px;}
.mCS-gray-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #b3b3b3; }
.mCS-gray-theme.mCSB_scrollTools .mCSB_draggerRail{ background-color: #ebeaea; } 
.mCSB_scrollTools .mCSB_draggerRail { width: 5px; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 5px; }

/*FOOTER*/
footer.global.navbar.navbar-default { position:relative; }

@media screen and (max-width: 992px) {
div.graph-title.text-capitalize.text-center { padding-top:10px; }
}