html, body {
  margin: 0;
  padding: 0px;
  height: auto;
  background-color: #ecedef;
  font-family: 'Open Sans', sans-serif;
  color: #51555b;
}

body {
  padding-top: 65px;
  /*padding-bottom: 85px;*/
}

header.global {
  height: 65px;
  border: none;
  box-shadow: none;
  padding: 10px
}

.navbar-default {
  border: 0;
  background-image: none;
  box-shadow: none;
  background-color: #FFF;
}

.header-icon {
  padding: 10px 0px 10px 0px;
  margin-right: 20px;
}

div.tile-avatar, div#userMenu {
  display: table-cell;
}

div.tile-avatar img {
  border-radius: 55px;
  height: 43px;
}

/*MENU  */
#menuD:hover { cursor: pointer; }
#menuD img {
  background-color: #CFCFD1;
}

#menuD img:hover {
  background-color: #1C99D6;
}

.menuD {
  min-width: 250px;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  top: 70px;
}

#menuD-wrapper::before {
  content: " ";
  position: absolute;
  left: 10px;
  top: -9px;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #FFF;
}

#profileD-wrapper::before {
  content: " ";
  position: absolute;
  right: 10px;
  top: -9px;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #FFF;
}

.dropdown-menu > li > a {
  padding: 12px 20px;
  color: #8F9092;
}

.dropdown-menu > li > a:hover {
  color: #51555B;
  border-left: 3px solid #1C99D6;
  background-color: transparent;
  background-image: none;
  transition: 0.3s ease 0s;
}

/*FOOTER*/
footer.global.navbar.navbar-default {
  width: 100%;
}

footer.tile-footer div.initial-avatar {
  margin-right: 10px;
}

footer.tile-footer div.tile-avatar {
  line-height: 42px;
}

footer.global.navbar.navbar-default {
  background-color: #fff;
  padding: 10px 25px 10px 25px;
  margin-bottom: 0px;
  box-shadow: none;
  position: relative;
  z-index: 300;
  bottom: 0px;
  min-height: 0px;
  font-size: 13px;
  color: #8f9092;
}

div.col-md-12.text-center ul.list-inline {
  display: inline-block;
}

div.col-md-12.text-center ul.list-inline li a {
  color: #8f9092;
}

div.col-md-12.text-center ul.list-inline li a:hover {
  text-decoration: underline;
}

div.col-xs-12.collapse-header.text-center {
  display: block;
  margin: 10px 0px 15px 0px;
}

div#legal-links.in div.col-xs-12.text-center ul.list-group {
  list-style: none;
}

div#legal-links.in div.col-xs-12.text-center ul.list-group li a {
  color: #8f9092;
}

div#legal-links.in div.col-xs-12.text-center ul.list-group li a:hover {
  text-decoration: underline;
}

footer ul.list-group {
  box-shadow: none;
}

@media (max-width: 768px) {
  body {
    padding-bottom: 110px;
  }

  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -ms-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    z-index: 101;
  }

  .sidebar-expand-l {
    left: 0px;
    width: 250px;
    height: 100%;
  }

  ul.list-unstyled li a {
    color: #8F9092;
    display: block;
    padding: 12px 20px;
  }

  ul.list-unstyled li a:hover {
    text-decoration: none;
    color: #51555B;
    border-left: 3px solid #1C99D6;
    background-color: transparent;
    background-image: none;
    transition: 0.3s ease 0s;
  }

  .mask.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    z-index: 100;
  }

  #show { left: 265px; position: absolute; padding-top:20px;}
  #show:hover { cursor: pointer; }
  #show img { background-color:#CFCFD1; }

}
