html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #ecedef;
  font-family: 'Open Sans', sans-serif;
  padding: 65px 0px 85px 0px;
  float: left;
  width: 100%;
}

div#wrapper.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

.margin-top {
  margin-top: 15px;
}

li.col-xs-12.col-sm-6.col-md-4 {
  padding: 15px;
}

.tile {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.tile-header {
  padding: 20px 20px 5px 20px;
  display: table;
  width: 100%;
}

.course-title {
  color: #51555b;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  display: table-cell;
}

.course-title img {
  vertical-align: bottom;
}

.course-description {
  font-size: 14px;
  color: #8f9092;
  padding: 0px 20px 20px 20px;
}

.course-image {
  border-bottom: 1px solid #ecedef;
  border-top: 1px solid #ecedef;
}

div.course-image img.img-responsive {
  margin: auto;
}

.tile-footer {
  padding: 5px 20px 5px 20px;
  color: #bbbbbd;
  display: table;
  width: 100%;
}

footer.tile-footer img {
  margin-right: 10px;
}

.tile-avatar img {
  border: 3px solid #bbbbbd;
  border-radius: 55px;
}

ul.list-inline {
  margin-left: 0px;
}

/*header/footer*/
.menu-icon {
  background-color: #CFCFD1;
}

footer {
  position: absolute;
  bottom: 0;
}

/*end header/footer*/

footer.tile-footer div {
  display: table-cell;
}

.navbar-default {
  border: 0;
  background-image: none;
  box-shadow: none;
  background-color: #FFF;
  min-height: 65px;
}

.filter-wrapper {
  background-color: #fff;
  border-radius: 2px;
  margin-top: 30px;
  padding: 7px 15px 7px 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  float: left;
  width: 100%;
}

div.col-sm-12 ul.list-inline {
  margin-bottom: 0px;
  padding-top: 12px;
}

div.col-sm-12 ul.list-inline li {
  padding: 0px;
  color: #c4c4c6;
  margin-right: 15px;
}

div.col-sm-12 ul.list-inline li button.btn.btn-default {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
  background-color: #cfcfd1;
}

div.col-sm-12 ul.list-inline li button.btn.btn-default:hover {
  background-color: #1c99d6;
}

div.col-sm-12 ul.list-inline li button.btn.btn-default img {
  vertical-align: top;
}

div.col-md-12.margin-top {
  float: left;
}

div#search.input-group input.form-control {
  height: 45px;
  border: none;
  box-shadow: none;
  background-color: #f5f6f8;
}

div#search.input-group div.input-group-btn button.btn.btn-default.dropdown-toggle {
  border: none;
  height: 45px;
  background-color: #f5f6f8;
  box-shadow: none;
  color: #8f9092;
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
}

div#search.input-group span.form-control-feedback {
  z-index: 3;
  left: 0;
  width: 120px;
  height: 45px;
  line-height: 45px;
  text-align: left;
  padding-left: 15px;
  color: #c4c4c6;
}

div#search.input-group span.form-control-feedback img {
  padding-right: 10px;
}

.padding-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-5 {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 768px) {
  div.col-sm-12 ul.list-inline {
    text-align: center;
    margin-bottom: 15px;
  }

  div#search.input-group {
    margin-bottom: 15px;
  }
}
