body {
  background-color: #ecedef;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding-top: 65px;
  min-height: 1080px;
}

div#wrapper.container-fluid {
  max-width: 1500px;
  margin: 0 auto;
}

.margin-top {
  margin-top: 15px;
}

li.col-sm-6.col-md-6.col-lg-3 {
  padding: 15px;
}

.tile {
  background-color: #fff;
  border-radius: 3px;
}

.tile-header {
  padding: 20px 20px 5px 20px;
  display: table;
  width: 100%;
}

.course-title {
  color: #51555b;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  display: table-cell;
}

.course-title img {
  vertical-align: bottom;
}

.course-description {
  font-size: 14px;
  color: #8f9092;
  padding: 0px 20px 20px 20px;
}

.course-image {
  background-color: #f5f6f8;
}

div.course-image img.img-responsive {
  margin: auto;
}

.tile-footer {
  padding: 5px 20px 5px 20px;
  color: #bbbbbd;
  display: table;
  width: 100%;
}

footer.tile-footer img {
  margin-right: 10px;
}

.tile-avatar img {
  border: 3px solid #bbbbbd;
  border-radius: 55px;
}

footer.tile-footer div {
  display: table-cell;
}

.navbar-default {
  border: 0;
  background-image: none;
  box-shadow: none;
  background-color: #FFF;
  min-height: 65px;
  padding: 20px;
}

.menuD {
  min-width: 250px;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  top: 70px;
}

#menuD-wrapper::before {
  content: " ";
  position: absolute;
  left: 10px;
  top: -9px;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #FFF;
}

#profileD-wrapper::before {
  content: " ";
  position: absolute;
  right: 10px;
  top: -9px;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #FFF;
}

.dropdown-menu > li > a {
  padding: 12px 20px;
  color: #8F9092;
}

.dropdown-menu > li > a:hover {
  color: #51555B;
  border-left: 3px solid #1C99D6;
  background-color: transparent;
  background-image: none;
  transition: 0.3s ease 0s;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -ms-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    z-index: 101;
  }

  .sidebar-expand-l {
    left: 0px;
    width: 250px;
    height: 100%;
  }

  ul.list-unstyled li a {
    color: #8F9092;
    display: block;
    padding: 12px 20px;
  }

  ul.list-unstyled li a:hover {
    text-decoration: none;
    color: #51555B;
    border-left: 3px solid #1C99D6;
    background-color: transparent;
    background-image: none;
    transition: 0.3s ease 0s;
  }

  .mask.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    z-index: 100;
  }

  #show {
    left: 250px;
    position: absolute;
    width: 60px;
  }
}


