html, body {
    height: auto;
    background-color: #ecedef;
    font-family: 'Open Sans', sans-serif;
    color: #51555b;
}

body {
    padding-bottom: 85px;
}

#wrapper.container-fluid {
    max-width: 1200px;
}

div.s-header.text-center {
    padding: 25px;
    background-color: #f5f6f8;
    border-radius: 3px 3px 0px 0px;
}

.p-25 {
    padding: 0px 25px 0px 25px;
}

div.s-wrapper {
    background-color: #fff;
    margin-top: 25px;
    border-radius: 3px;
    padding-bottom: 25px;
}

div.s-wrapper h1.s-title.text-center {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}

div.s-wrapper div.s-description.text-center.p-25 {
    font-size: 18px;
    color: #8f9092;
}

div.s-wrapper div.peak-wrapper.p-25 {
    padding-top: 25px;
    position: relative;
    float: left;
    width: 100%;
}

div.s-wrapper div.peak-wrapper.p-25 div.peak-icon-wrapper {
    padding-top: 50px;
}

div.s-wrapper div.peak-wrapper.p-25 div.peak-icon-wrapper div.peak-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    background-color: #7b818e;
    position: absolute;
    left: 210px;
    top: 25px
}

div.s-wrapper div.peak-wrapper.p-25 div.img-wrapper {
    width: 50%;
    float: left;
    position: relative;
    z-index: 5;
}

div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper {
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    transform: skewX(30deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100% 0;
    width: 50%;
    float: left;
    margin-left: -3px;
}

div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 85%;
}

div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li {
    position: relative;
}

div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li a {
    background: #00b2ac;
    background: -webkit-linear-gradient(left, #fff, #00b2ac);
    background: -o-linear-gradient(right, #fff, #00b2ac);
    background: -moz-linear-gradient(right, #fff, #00b2ac);
    background: linear-gradient(to right, #fff, #00b2ac);
    color: #0a4f97;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1px;
    height: 100%;
    padding-left: 25px;
    font-size: 14px;
    max-width: 100%;
    transition: all 0.2s ease-in-out 0s;
    height: 52.8px;
    line-height: 52.8px;
}

div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li a:focus {
    outline: none;
}

div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li a span {
    display: block;
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
}

div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li a:hover {
    background-color: #1F99D5;
    z-index: 1000;
    padding-left: 50px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

div.s-wrapper div.text-center button.btn.btn-default.text-uppercase {
    margin-top: 25px;
    background-image: none;
    box-shadow: none;
    background-color: #f5f6f8;
    border-color: #f5f6f8;
    border-radius: 2px;
    font-weight: bold;
    color: #51555b;
    padding: 15px 30px;
}

div.s-wrapper div.text-center button.btn.btn-default.text-uppercase img {
    margin-right: 5px;
}

div.s-wrapper div.text-center button.btn.btn-default.text-uppercase a {
    color: #8f9092;
}

/*PANEL*/
div.col-sm-12.col-md-9 div.panel-wrapper:first-child {
    padding-top: 25px;
}

div.panel-wrapper div.panel.panel-default {
    border: none;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

div.panel-wrapper div.panel.panel-default div.panel-heading {
    background-image: none;
    background-color: #fff;
    border-bottom: 1px solid #e5e6e8;
    padding: 12px 20px 12px 20px;
    border-radius: 0px;
    border-top: 1px solid #e5e6e8;
}

div.panel-wrapper div.panel.panel-default div.panel-heading span.panel-title.text-capitalize {
    font-size: 17px;
    font-weight: bold;
    color: #51555b;
}

div.panel-wrapper div.panel.panel-default div.panel-heading span.panel-title.text-capitalize img {
    margin-right: 10px;
}

div.panel-wrapper div.panel.panel-default div.panel-heading span.panel-icon.pull-right {
    padding-top: 6px;
}

div.panel-wrapper div.panel.panel-default div.panel-heading span.panel-icon.pull-right:hover {
    cursor: pointer;
}

div.panel-body {
    padding: 0px;
}

div.panel-body div.panel-content-header.text-center {
    background-color: #f2f3f5;
    padding: 10px;
}

div.panel-body div.panel-content ul.list-unstyled {
    margin-bottom: 0px;
}

div.panel-body div.panel-content ul.list-unstyled li {
    background-color: #fff;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

div.panel-body div.panel-content ul.list-unstyled li img {
    margin-left: 5px;
    margin-right: 5px;
}

/*inner panels*/
div.inner-panel-wrapper div.panel.panel-default {
    margin-bottom: 0px;
}

div.inner-panel-wrapper div.panel.panel-default div.panel-heading {
    border: none;
    padding: 20px;
    border-top: 1px solid #e5e6e8;
}

div.inner-panel-wrapper div.panel.panel-default div.panel-heading div.panel-title.text-capitalize {
    font-size: 17px;
    font-weight: bold;
    color: #51555b;
}

div.inner-panel-wrapper div.panel.panel-default div.panel-heading div.panel-title.text-capitalize.text-center span:first-child {
    padding-left: 20px;
}

div.inner-panel-wrapper div.panel.panel-default div.panel-heading span.panel-icon.pull-right {
    padding-top: 0px;
}

div.inner-panel-wrapper div.panel-body {
    padding: 0px 20px 20px 20px;
    color: #8f9092;
}

#thriving-panel, #team-effectiveness-panel, #manager-effectiveness-panel, #behaviors-panel, #skills-panel {
    display: none;
}

.btn-gray {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding-top: 6px;
    padding-left: 8px;
    background-color: #cfcfd1;
    margin-left: 5px;
}

.btn-gray:hover {
    background-color: #1e92cb;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #2d3644;
}

.tooltip-inner {
    background-color: #2d3644;
    padding: 7px 15px;
    border-radius: 2px;
    font-size: 14px;
}

/*HOVER FOR BUTTONS we already have this*/
.hvr-b-t {
    position: relative;
    z-index: 1;
}

.hvr-b-t:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: #fff;
    transition: all 0.3s ease;
    z-index: -1;
    opacity: 0.2;
}

.hvr-b-t:hover:before {
    height: 100%;
}

/*PROFILE WRAPPER*/
div.profile-wrapper.p-25 {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    padding: 25px 0px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

div.profile-wrapper.p-25 div.avatar {
    width: 120px;
    height: 120px;
    background-color: #f5f6f8;
    border-radius: 100%;
}

div.profile-wrapper.p-25 div.avatar img {
    border-radius: 100%;
}

div.profile-wrapper.p-25 div.profile-name.text-capitalize.text-center.p-25 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

div.profile-wrapper.p-25 ul.notifications {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #ecedef;
}

div.profile-wrapper.p-25 > ul.notifications > li {
    border-bottom: 1px solid #ecedef;
    color: #8f9092;
}

div.profile-wrapper.p-25 ul.notifications li a {
    display: block;
    color: #8f9092;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

div.profile-wrapper.p-25 ul.notifications li a:hover {
    background-color: #f5f6f8;
}

div.profile-wrapper.p-25 ul.notifications li a span {
    display: table-cell;
}

div.profile-wrapper.p-25 ul.notifications li a span:first-child {
    padding-right: 5px;
}

div.profile-wrapper.p-25 ul.notifications li a span img {
    top: 5px;
}

div.profile-wrapper.p-25 > ul.notifications > li:last-child {
    background-color: #f5f6f8;
    font-weight: bold;
    padding: 5px;
}

div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled {
    padding-left: 55px;
}

div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li {
    padding: 5px 25px 5px 0px;
}

div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li:last-child {
    padding-bottom: 20px;
}

div.profile-wrapper.p-25 ul.notifications li ul.list-unstyled li span {
    color: #51555b;
    font-weight: bold;
}

footer.global.navbar.navbar-default {
    position: fixed;
}

@media screen and (max-width: 480px) {
    div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li a {
        font-size: 10px;
        padding-left: 10px;
    }

    div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li a:hover {
        padding-left: 25px;
    }

    div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul {
        list-style: none;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    div.s-wrapper div.peak-wrapper.p-25 div.peak-icon-wrapper {
        padding-top: 35px;
    }

    div.s-wrapper div.peak-wrapper.p-25 div.peak-icon-wrapper div.peak-icon {
        width: 38px;
        height: 38px;
    }
}

@media screen and (max-width: 768px) {
    div.s-wrapper h1.s-title.text-center {
        font-size: 21px;
    }

    div.s-wrapper div.s-description.text-center.p-25 {
        font-size: 15px;
        color: #8f9092;
    }

    div.profile-wrapper.p-25 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    div.s-wrapper {
        background-color: #fff;
        margin-top: 15px;
    }
}

@media screen and (min-width: 480px) and (max-width: 992px) {
    div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li a {
        font-size: 11px;
        padding-left: 10px;
    }

    div.s-wrapper div.peak-wrapper.p-25 div.bars-wrapper ul li a:hover {
        padding-left: 25px;
    }
}
