doctype html
html
  head
    - var css_files = ['reports.css', 'fonts.css', 'lib/bootstrap.min.css', 'lib/bootstrap-theme.min.css', 'graphs.css', 'manager-effectiveness-graph.css', 'behavior-graph.css']
    - var js_files = ['libraries/jquery-2.1.4.min.js', 'libraries/bootstrap.min.js', 'libraries/Chart-v2.0.2.min.js', 'libraries/d3.min.js', 'graphs-custom.js', 'manager-effectiveness-graph1.js',]

    each css_file in css_files
      link(rel='stylesheet', href="http://localhost:3000/css/#{css_file}", type='text/css', media='all')

    script(src="http://localhost:3000/js/client_helper.js")

    script.
      var skillsQA = jsonParse("#{skillsQA}");
      var thrivingQA = jsonParse("#{thrivingQA}");
      var managerEffectivenessQA = jsonParse("#{managerEffectivenessQA}");
      var teamEffectivenessQA = jsonParse("#{teamEffectivenessQA}");

  body
    #wrapper.container-fluid
      .row
        .col-md-12
          .section-wrapper.p-b-none
            .text-right
              img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
            .section-title
              span.text-uppercase about peak
            .section-s-title
              strong.blue-color Peak is how we measure and plan for performance at IMC Chicago.
            .peak-formula-wrapper
              span.blue-color Peak =
              span  Review +
              span  Growth
            p
              | Peak has two parts. The review component measures how you have performed while the growth component identifies opportunities for how you will grow. Involvement in Peak will result in an individualized growth plan, which you can use to guide and monitor your personal growth throughout the year.
            p
              strong.text-capitalize.blue-color what’s in the report
              br
              | This report contains results for the five dimensions of growth at IMC Chicago: (1) thriving, (2) team effectiveness, (3) manager effectiveness, and (4) skills were measured in the growth survey while (5) behaviors were measured during your last review. The results of each dimension are shared in a dedicated section.
            .l-wrapper
              strong.text-capitalize.blue-color Sections 1-5 contain the following:
              ul
                li.blue-color A description of what was measured in that dimension and why
                li.blue-color A visual intended to help you interpret your results
                li.blue-color Your results
                li.blue-color Reflection questions intended to help you complete your growth plan
              p
                | The sixth and final section describes how to develop your growth plan along with a template you should use to draft your plan.

            //.l-wrapper
              .text-capitalize Sections 1-5 contain the following:
                .row.h-t-u-report
                  .col-md-2
                    div
                      strong 1
                    div Read your results
                  .col-md-2
                    div
                      strong 2
                    div Use the reflection questions to interpret your results.
                  .col-md-2
                    div
                      strong 3
                    div Use the growth plan template to record your goal(s) and strategies for accomplishing them.
                  .col-md-2
                    div
                      strong 4
                    div Review your growth plan with your manager and finalize your growth plan together in the Peak system.
                  .col-md-2
                    div
                      strong 5
                    div Prepare to discuss the   results and your goals with your team.
                  .col-md-2
                    div
                      strong 6
                    div If you accomplish your goal(s), set new goals, discuss them with your team and manager, and update your growth plan in the Peak system.
            .l-wrapper
              strong.text-capitalize.blue-color How To Use This Report
              .row.h-t-u-report
                .col-xs-2
                  div.white-color.font-size
                    |1 <br />
                    | Read your results
                .col-xs-2
                  div.white-color.font-size
                    |2 <br />
                    | Use the reflection questions to interpret your results.
                .col-xs-2
                  div.white-color.font-size
                    |3 <br />
                    | Use the growth plan template to record your goal(s) and strategies for accomplishing them.
                .col-xs-2
                  div.white-color.font-size
                    |4 <br />
                    | Review your growth plan with your manager and finalize your growth plan together in the Peak system.
                .col-xs-2
                  div.white-color.font-size
                    |5 <br />
                    | Prepare to discuss the   results and your goals with your team.
                .col-xs-2
                  div.white-color.font-size
                    |6 <br />
                    | If you accomplish your goal(s), set new goals, discuss them with your team and manager, and update your growth plan in the Peak system.
            p
              strong.text-capitalize.blue-color the disclaimer
              br
              | You know yourself better than any survey knows you. This report takes into account how you, your team, you manager, and your multi-raters responded to the growth survey and review questions. We’ve tried to make the reflection questions as poignant as possible, but there is always room for improvement. Feel free to make notes or edit your report for accuracy, but only after checking with your manager and team.
          .section-wrapper.new.page-break
            .text-right
              img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 1:
              span THRIVING
            p
              strong.text-capitalize.blue-color what was measured and why
              br
              | We define thriving as learning and vitality - the energy and motivation that you bring each day to work. We believe that your thriving will lead to better results for you and the organization.
              br
              br
              | Our measurement of thriving is informed by the work of Gretchen Spreitzer, author of A Socially Embedded Model of Thriving at Work, and Paul McGinniss, a Neuroscientist at the NeuroLeadership Institute, and measures the degree to which you agreed with the statements in the thriving portion of the growth survey.
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you rated your own thriving. Each of the six concentric circles illustrate the degree to which you agreed with the related statement in the survey – the more color you see, the more you agreed with the statement. Overall, the more color you see, the more likely it is that you feel as though you are thriving.

            .row.text-center.graphs
              canvas#thriving-chart
            //img.img-responsive(src='http://localhost:3000/img/graph-sample.png', width='1100', height='566', alt='')

            p
              strong.text-capitalize.blue-color comments
              br
              if _.isUndefined(thriving) || (_.pluck(thriving.comments, 'answerText') == '')
                | Empty
              else
              each comment in thriving.comments
                p= comment.answerText
            .l-wrapper
              strong.text-capitalize.blue-color highs & lows
              br
              strong.s-title.blue-color You agreed most with the following statements:
              ul
                each qA in thriving.optionsSaved
                  if qA.selectedOption == 3 || qA.selectedOption == 4
                    li.blue-color= qA.question
              strong.s-title.blue-color You agreed least with the following statements:
              ul
                each qA in thriving.optionsSaved
                  if qA.selectedOption == 0 || qA.selectedOption == 1
                    li.blue-color= qA.question
            .table-wrapper
              .table-title
                strong.blue-color Results in Detail
              table(width='100%', border='0')
                tbody
                  if thriving
                    each qA in thriving.optionsSaved
                      tr
                        td.blue-color= qA.question
                        td.blue-color= qA.answerText
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might increase your learning and vitality. Please take a moment to think about and jot down your responses to the following questions.
              .r-questions
                img(src='http://localhost:3000/img/r-questions-icon.png', width='72', height='72', alt='')
                .r-q-wrapper
                  div
                    strong.s-blue-color What new things do you want to learn?
                  div
                    strong.s-blue-color How can you get more of the things that energize you?
          .section-wrapper.new
            .text-right
              img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 2:
              span.text-uppercase team effectiveness
            p
              strong.text-capitalize.blue-color what was measured and why
              br
              | Cohesive and effective teams outperform ineffective teams. Having more effective teams at IMC Chicago will help us to achieve our business goals. It takes considerable time and effort to develop a successful, high performing team.
              br
              br
              | Our measurement of team effectiveness is informed by the work of Patrick Lencioni, author of The Advantage and Five Dysfunctions of a Team: A leadership fable and measures the degree to which you and your team agreed with the prompts aligned with the five functions of team effectiveness: trust, healthy conflict, commitment, accountability, and results.
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | The first image depicts how you rated your team’s effectiveness. The second image depicts the aggregate of how your team rated its effectiveness. The darker the colors you see, the more likely it is that your team is effective. The darkest blue means most people answered yes or enthusiastic yes. The middle blue means most people answered neutral. The light blue means most people answered not really or not at all. The darker the color you see, the more you or your teams agreed with the statement.
            //img.img-responsive(src='http://localhost:3000/img/graph-sample.png', width='1100', height='566', alt='')
            .row.text-center.graphs.graphs-h-w
              .row
                .col-md-12.g-cleared.chart-wrapper.team-effectiveness__chart-wrapper
                  // new html
                  .skill__item
                  .skill__item
                .text-center.ratings.skills__legend
                  ul.skills__legend-wrapper
                    li.skills__label-item.skills__label_you
                      span
                      span You
                    li.skills__label-item.skills__label_manager
                      span
                      span Your manager
                    li.skills__label-item.skills__label_team
                      span
                      span Your team
                    li.skills__label-item.skills__label_raters
                      span
                      span Your multi-raters
            p
              strong.text-capitalize.blue-color comments
              br
              if _.isUndefined(team_effectiveness) || (_.pluck(team_effectiveness.comments, 'answerText') == '')
                | Empty
              else
                each comment in team_effectiveness.comments
                  p= comment.answerText

            .l-wrapper
              strong.text-capitalize.blue-color highs & lows
              br
              strong.s-title.blue-color You find your team to be most effective in the following areas:
              ul
                each qA in team_effectiveness.optionsSaved
                  if qA.selectedOption == 3 || qA.selectedOption == 4
                    li.blue-color= qA.question
              strong.s-title.blue-color You find your team to be the least effective in the following areas:
              ul
                each qA in team_effectiveness.optionsSaved
                  if qA.selectedOption == 0 || qA.selectedOption == 1
                    li.blue-color= qA.question
            .table-wrapper
              .table-title.b-none
                strong.blue-color Results in Detail
              .row
                .col-md-6
                  .t-s-title
                    strong.blue-color Your responses:
                  table(width='100%', border='0')
                    tbody
                      if team_effectiveness
                        each qA in team_effectiveness.optionsSaved
                          tr
                            td.blue-color= qA.question.split(':')[0]
                            if qA.selectedOption == null
                              td.blue-color Not able to make a judgement
                            else
                              td.blue-color= qA.answerText
                .col-md-6
                  .t-s-title
                    strong.blue-color Your Team's Responses:
                  table(width='100%', border='0')
                    tbody
                      if team_effectiveness
                        each qA in team_effectiveness.optionsSaved
                          tr
                            td.blue-color= qA.question.split(':')[0]
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might increase your learning and vitality. Please take a moment to think about and jot down your responses to the following questions.
              .r-questions
                img(src='http://localhost:3000/img/r-questions-icon.png', width='72', height='72', alt='')
                .r-q-wrapper
                  div
                    strong.s-blue-color What contributed to these results?
                  div
                    strong.s-blue-color What might you do to help your team be more effective?
          .section-wrapper.new
            .text-right
              img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 3:
              span.text-uppercase manager effectiveness
            p
              strong.text-capitalize.blue-color what was measured and why
              br
              | Manager effectiveness is directly correlated to employee satisfaction and engagement. The more effective our managers, the better our people and teams will be.
              br
              br
              | Our measurement of manager effectiveness is informed by the work of Laszlo Bock, author of Work Rules: Insights from Inside Google, the Great Place to Work Survey, and Paul McGinniss, a Neuroscientist at the NeuroLeadership Institute, and measures the degree to which you agreed with the growth survey prompts regarding your direct manager’s effectiveness.
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you rated your manager. The top of the visual shows where you rated them highly (enthusiastic yes and yes) where you rated them medium (neutral) and where you rated them low (not really and not at all). The bottom of the visual lists the qualitative comments that you provided.
            //img.img-responsive(src='http://localhost:3000/img/graph-sample.png', width='1100', height='566', alt='')
            .row.text-center.graphs
              #manager-effectiveness
            #manager-effectiveness-legend.text-center
              ul.-legend
                li
                  span
                  span.text-uppercase enthusiastic yes
                li
                  span
                  span.text-uppercase yes
                li
                  span
                  span.text-uppercase neutral
                li
                  span
                  span.text-uppercase not really
                li
                  span
                  span.text-uppercase not at all
            p
              strong.text-capitalize.blue-color comments
              br
              if _.isUndefined(manager_effectiveness) || (_.pluck(manager_effectiveness.comments, 'answerText').join('') == '')
                | Empty
              else
                each comment in manager_effectiveness.comments
                  p= comment.answerText
            .l-wrapper
              strong.text-capitalize.blue-color highs & lows
              br
              strong.s-title.blue-color You find your manager to be most effective in the following areas:
              ul
                each qA in manager_effectiveness.optionsSaved
                  if qA.selectedOption == 3 || qA.selectedOption == 4
                    li.blue-color= qA.question
              strong.s-title.blue-color You find you manager to be least effective in the following areas:
              ul
                each qA in manager_effectiveness.optionsSaved
                  if qA.selectedOption == 0 || qA.selectedOption == 1
                    li.blue-color= qA.question
            .table-wrapper
              .table-title
                strong.blue-color Results in Detail
              table(width='100%', border='0')
                tbody
                  if manager_effectiveness
                    each qA in manager_effectiveness.optionsSaved
                      tr
                        td.blue-color= qA.question
                        td.blue-color= qA.answerText
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might contribute to your manager’s effectiveness. Please take a moment to think about and jot down your response  to the following question.
              .r-questions
                img(src='http://localhost:3000/img/r-questions-icon.png', width='72', height='72', alt='')
                .r-q-wrapper
                  div
                    strong.s-blue-color How might you contribute to the effectiveness of your manager?
          .section-wrapper.new
            .text-right
              img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 4:
              span.text-uppercase behaviors
            p
              strong.text-capitalize.blue-color what was measured and why
              br
              | These nine behaviors outline what we believe are the key behavioral indicators team members need to be successful at IMC Chicago. Collectively, they measure that (1) you make things happen, (2) you work smart, and (3) people want you on their team. These behaviors are applicable to and measured for all employees. Similar behaviors are also measured in Amsterdam and Sydney.
              br
              br
              | Our measurement of the behaviors is informed by the behaviors demonstrated by people who have historically been successful at IMC. In your review, you were asked to consider how you demonstrated each of the nine behaviors in the last six months; your team, your manager, and your multi-rater’s also rated you using a custom growth scale.
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you, your team, your manager, and your multi-raters rated your behaviors. The length of the bar illustrates how you were rated in each behavior.
            //img.img-responsive(src='http://localhost:3000/img/graph-sample.png', width='1100', height='566', alt='')
            .row
              .col-md-12.g-cleared.chart-wrapper.behaviours__chart-wrapper
              .text-center.ratings.behaviours__legend
                ul.behaviours__legend-wrapper
                  li.behaviours__label-item.behaviours__label_you
                    span
                    span You
                  li.behaviours__label-item.behaviours__label_manager
                    span
                    span Your manager
                  li.behaviours__label-item.behaviours__label_team
                    span
                    span Your team
                  li.behaviours__label-item.behaviours__label_raters
                    span
                    span Your multi-raters
            p
              strong.text-capitalize.blue-color comments
              br
              | Empty
            .l-wrapper
              strong.text-capitalize.blue-color highs & lows
              br
              | Empty
              br
              strong.s-title.blue-color You find your team to be most effective in the following areas:
              br
              | Empty
              //ul
              //  each qA in behaviors.optionsSaved
              //    if qA.selectedOption == 3 || qA.selectedOption == 4
              //      li.blue-color= qA.question
              //strong.s-title.blue-color You find your team to be the least effective in the following areas:
              //ul
              //  each qA in behaviors.optionsSaved
              //    if qA.selectedOption == 0 || qA.selectedOption == 1
              //      li.blue-color= qA.question
            .table-wrapper
              .table-title
                strong.blue-color Results in Detail
              br
              | Empty
              table.t-w-25(width='100%', border='0')
                thead
                  tr
                    th
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might better exemplify the behaviors. Please take a moment to think about and jot down your responses to the following questions.
              .r-questions
                .col-xs-2.text-center
                  img(src='http://localhost:3000/img/r-questions-icon.png', width='72', height='72', alt='')
                .col-xs-10.word-wrap
                  .r-q-wrapper
                    div
                      strong.s-blue-color What contributed to these results?
                    div
                      strong.s-blue-color How might you need to adjust your behaviors as you grow at IMC Chicago?
          .section-wrapper.new
            .text-right
              img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
            .section-title
              span.s-blue-color SECTION 5:
              span.text-uppercase skills
            p
              strong.text-capitalize.blue-color what was measured and why
              br
              | The skills measured are required to be successful in your function at IMC Chicago. Our measurement of skills is informed by the skills demonstrated by people who have historically been successful in your function at IMC Chicago. In the growth survey, you were asked to select and rate your skills, rate your team member’s skills, and rate your multi-rater’s skills according to a custom growth scale. Your manager also rated your skills.
            p
              strong.text-capitalize.blue-color results at a glance
              br
              | This image depicts how you, your team, your manager, and your multi-raters rated your skills. The length of the bar illustrates how you were rated in each skill.
            //img.img-responsive(src='http://localhost:3000/img/graph-sample.png', width='1100', height='566', alt='')
            .row.text-center.graphs.graphs-h-w
              .row
                .col-md-12.g-cleared.chart-wrapper.skills__chart-wrapper
                  // new html
                  .skill__item
                  .skill__item
                .text-center.ratings.skills__legend
                  ul.skills__legend-wrapper
                    li.skills__label-item.skills__label_you
                      span
                      span You
                    li.skills__label-item.skills__label_manager
                      span
                      span Your manager
                    li.skills__label-item.skills__label_team
                      span
                      span Your team
                    li.skills__label-item.skills__label_raters
                      span
                      span Your multi-raters
            p
            strong.text-capitalize.blue-color comments
            br
            if _.isUndefined(skills) || (_.pluck(skills.comments, 'answerText') == '')
              | Empty
            else
            each comment in skills.comments
              p= comment.answerText

            .l-wrapper
              strong.text-capitalize.blue-color highs & lows
              br
              strong.s-title.blue-color You find your team to be most effective in the following areas:
              ul
                each qA in skills.optionsSaved
                  if qA.selectedOption == 3 || qA.selectedOption == 4
                    li.blue-color= qA.question
              strong.s-title.blue-color You find your team to be the least effective in the following areas:
              ul
                each qA in skills.optionsSaved
                  if qA.selectedOption == 0 || qA.selectedOption == 1
                    li.blue-color= qA.question
            .table-wrapper.page-break
              .table-title
                strong.blue-color Results in Detail
              table.t-w-25(width='100%', border='0')
                tbody
                  tr
                    Empty
            .r-questions-wrapper
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | In planning for your growth, we ask you to consider how you might better exemplify these skills. Please take a moment to think about and jot down your responses to the following questions.
              .r-questions
                img(src='http://localhost:3000/img/r-questions-icon.png', width='72', height='72', alt='')
                .r-q-wrapper
                  div
                    strong.s-blue-color What contributed to these results?
                  div
                    strong.s-blue-color What existing skills do you want to continue to develop?
                  div
                    strong.s-blue-color What skills do you need/want to add as you grow at IMC Chicago?
          .section-wrapper.page-break
            .text-right
              img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
            .section-title
              span.text-uppercase.s-blue-color section 6:
              span.text-uppercase growth planning at imc chicago
            p
              | Everyone at IMC Chicago will be creating growth plans. Growth plans help identify and clarify development targets and strategies for hitting those targets. Growth plans also provide structure for individual growth and development. As you develop your growth plan, we ask that you adopt a growth mindset.
            p
              strong.text-capitalize.blue-color growth mindset
              br
              | Stanford psychology professor, Carol Dweck’s research found that people who have a growth mindset believe that their most basic abilities can be developed through dedication and hard work—intelligence and talent are just the starting point. This view creates a desire for learning and a resilience that is essential for great accomplishment. A growth mindset is the opposite of a fixed mindset, where people believe their basic qualities, like their intelligence or talent, are simply fixed traits. They spend their time documenting their intelligence or talent instead of developing them.
            .l-wrapper
              .s-title.blue-color The following outlines the steps you need to take to create your growth plan.
              ul.o-steps
                li 1. Interpret your Peak results
                li 2. Develop your growth plan
                li 3. Initiate the next steps
            .r-questions-wrapper.m-b
              p
                strong.blue-color Reflection Questions
                br
                span.blue-color
                  | Your responses to the questions below will help you identify the goals to include in your growth plan.
              .row
                .r-questions
                  .col-xs-2.text-center
                    img(src='http://localhost:3000/img/r-questions-icon.png', width='72', height='72', alt='')
                  .col-xs-10.word-wrap
                    .r-q-wrapper
                      div
                        strong.s-blue-color What skills or behaviors do you need to develop to perform better in your job today?
                      div
                        strong.s-blue-color What skills or behaviors do you need/want to develop as you grow at IMC Chicago?
                      div
                        strong.s-blue-color What specific responsibilities, projects, or tasks do you need/want to be a part of?
            p.page-break
              .text-right
                img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
              strong.text-capitalize.blue-color develop your growth plan
              br
              .blue-color Growth planning at IMC is based on the 70-20-10 Learning Model. The 70-20-10 Learning Model, developed by Morgan McCall, Robert W. Eichinger, and Michael M. Lombardo at the Center for Creative Leadership, explains that seventy percent of professional learning and development takes place during real life, challenging on-the-job experiences. Twenty percent of learning and development comes from coaching, feedback, and observing and working with role models. Ten percent of learning and development comes from formal training that includes facilitated in-person training sessions, online programs and self-study. Consider using the 70-20-10 Learning Model to complete your growth plan on the following page.
            .table-wrapper
              table.t-w-25.t-s(width='100%', border='0')
                tbody
                  tr
                    td
                      div
                        strong.blue-color Goals
                      div
                        strong.blue-color should be specific, measurable, actionable, realistic, and time bound
                    td
                      div
                        strong.white-color 70%
                      div
                        strong.white-color of growth comes from experience-based assignments
                    td
                      div
                        strong.white-color 20%
                      div
                        strong.white-color of growth comes from coaching and mentoring
                    td
                      div
                        strong.white-color 10%
                      div
                        strong.white-color of growth comes from formal training and self-study
                  tr
                    td
                      | Consider naming a few goals you want to accomplish in the next 3-6 months.Goals can include  the following: 1. A specific responsi-bility, task, or project 2.A skill you want or need to develop 3. A behavior that you want or need to develop
                    td
                      | Consider some experience-based projects or assignments that will help you to accomplish each goal or develop each skill or behavior.
                    td
                      | Consider some ways you might leverage team members, mentors, or managers at IMC Chicago to help you accomplish this goal or develop this skill or behavior.
                    td
                      | Consider some books/articles, conferences or formal trainings that will help you to accomplish this goal or develop this skill  or behavior.
          .section-wrapper.new
            .text-right
              img(src='http://localhost:3000/img/peak-logo.png', width='85', height='45', alt='')
            .section-title
              span.text-uppercase
              span.text-uppercase initiate next steps
            p
              strong.text-capitalize.blue-color your next steps
              br
              | At IMC Chicago, we believe you will be more likely to accomplish your career goals if you take responsibility for your growth plan with your manager’s support. With that in mind, it is your responsibility to initiate these two steps.
            p.p-35
              strong.text-capitalize.c-green 1. Growth plan discussion
              | – Set up a time to discuss your draft growth plan with your manager. Plan to review your growth survey results and share the thinking behind your growth plan. You can expect him/her to ask you questions and offer additional perspective. Together you will determine whether anything should be modified and ultimately finalize your plan. You and your manager should enter the final plan into the Peak system together.
            p.p-35
              strong.text-capitalize.c-green 2. Growth plan check-ins
              | – Check-in with your manager and your team on a regular basis to discuss how you are progressing. Because growth is a continuous process and not something that can be checked off the list, if you accomplish your goal(s), please update your growth plan or establish new goals.
            p
              strong.text-capitalize.blue-color your manager’s next steps
              br
              | Your Peak reports and your growth plan alone will not guarantee your growth here at IMC Chicago. Sharing your goals with your team and your manager means you are committing to them. This openness also helps others to contribute and hold you accountable for what you want to achieve. The discussions around team effectiveness and manager effectiveness will help you to better understand your managers goals and the goals of the team overall.
            p.p-35
              strong.text-capitalize.c-green 1. Manager effectiveness discussion
              | – Your manager will set-up a time to discuss how you and your team rated his/her manager effectiveness and the steps s/he is taking to increase his/her effectiveness.
            p.p-35
              strong.text-capitalize.c-green 2. Team effectiveness discussion
              | – Your manager will set-up a time to discuss how you and your team rated your team effectiveness and facilitate a discussion on how the team can increase its effectiveness.

    each js_file in js_files
      script(src="http://localhost:3000/js/#{js_file}")

    //script.
    //  graphs.myAllGraphs();
//      graphs.myTeamEffectivenessGraphs();
