extends ../application

block variables
  script.
    var isEmpty = true;
    var emptySet = {questions: ['','','','','',''], answers: [0,0,0,0,0,0]}
    var skillsQA = emptySet;
    var thrivingQA = emptySet;
    var managerEffectivenessQA = emptySet;
    var teamEffectivenessQA = emptySet;

  - var css_files = ['/css/lib/select2.min.css', '/css/lib/select2.min.css', '/css/lib/jquery.mCustomScrollbar.min.css', '/css/hr-manager-dash.css', '/css/commons.css', '/css/graphs.css', '/css/manager-effectiveness-graph.css', '/css/behavior-graph.css']
  - var js_files = ['/js/libraries/Chart-v2.0.2.min.js', '/js/libraries/select2.min.js', '/js/libraries/d3.min.js', '/js/hr-manager-dash.js','/js/libraries/jquery.mCustomScrollbar.concat.min.js', '/js/graphs-custom.js', '/js/insights.js', '/js/manager-effectiveness-graph.js']

block content
  html
  body
    #wrapper.container-fluid
      .row
        .col-sm-12.col-md-9
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                span.panel-title.text-capitalize
                  img(src='/img/insights-icon.svg', width='35', height='35', alt='insights icon')
                  | Insights
                span.panel-icon.pull-right(data-toggle='collapse', data-target='#insights-wrapper')
                  img(src='/img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
              #insights-wrapper.panel-body.collapse.in
                .panel-content
                  ul.list-unstyled
                    li
                      .notification-wrapper
                        .notification-icons
                          img(src='/img/notice-icon-red.svg', width='23', height='23', alt='')
                          img(src='/img/avatar-b-small.svg', width='35', height='35', alt='avatar')
                        .notification-text-wrapper
                          .notification-title This is some title/category
                          .notification-description Dave is struggling with keeping up with his team on Python development
                    li
                      .notification-wrapper
                        .notification-icons
                          img(src='/img/award-icon-gold.svg', width='23', height='23', alt='')
                          img(src='/img/avatar-b-small.svg', width='35', height='35', alt='avatar')
                        .notification-text-wrapper
                          .notification-title Add some title
                          .notification-description Chris seems to be outgrowing his role. Scored maximum in all skills
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                span.panel-title.text-capitalize
                  img(src='/img/analytics-icon.svg', width='35', height='35', alt='insights icon')
                  | analytics
                span.panel-icon.pull-right(data-toggle='collapse', data-target='#analytics-wrapper')
                  img(src='/img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
              #analytics-wrapper.panel-body.collapse.in
                .panel-content-header.text-center
                  button.btn.btn-gray(type='submit', data-toggle='tooltip', data-placement='top', title='Print')
                    img(src='/img/print-icon-white.svg', width='20', height='20', alt='print')
                  button.btn.btn-gray(type='submit', data-toggle='tooltip', data-placement='top', title='Export to PDF')
                    img(src='/img/pdf-icon-white.svg', width='20', height='20', alt='export to pdf')
                .panel-content
                  .row
                    .col-md-3
                      select#select-manager.c-select(data-options=managerEmployees)
                        each managerEmployee in managerEmployees
                          if managerEmployee['_id']
                            option(value=managerEmployee['_id'])= managerEmployee['_id']
                      select#select-individual.c-select
                        //each employee in employees
                          option(value=employee._id)= employee.full_legal_name
                      select#select-topic.c-select
                        each assessmentTag in assessmentTags
                          option(value=assessmentTag)= assessmentTag
                        //option(value='3') 3
                        //option(value='4') 4
                      button.btn.btn-gray-fw(type='button', id="get-insights")
                        img(src='/img/tick-icon-white.svg', width='20', height='20', alt='login icon')
                    .col-md-9.hide#thriving-panel
                      .graph-title.text-capitalize.text-center Thriving
                      canvas#thriving-chart
                    .col-md-9.hide#team-effectiveness-panel
                      .graph-title.text-capitalize.text-center Team Effectiveness
                      #team-effectiveness-wrapper.panel-body.collapse.in
                        .panel-content.text-center
                        #wrapper.container-fluid.skills
                          .row
                            .col-md-12.g-cleared.chart-wrapper.team-effectiveness__chart-wrapper
                              // new html
                              .skill__item
                              .skill__item
                            .text-center.ratings.skills__legend
                              ul.skills__legend-wrapper
                                li.skills__label-item.skills__label_you
                                  span
                                  span You
                                li.skills__label-item.skills__label_manager
                                  span
                                  span Your manager
                                li.skills__label-item.skills__label_team
                                  span
                                  span Your team
                                li.skills__label-item.skills__label_raters
                                  span
                                  span Your multi-raters

                    .col-md-9.hide#manager-effectiveness-panel
                      .graph-title.text-capitalize.text-center Manager Effectiveness
                      #manager-effectiveness
                      //#manager-effectiveness-support
                      #manager-effectiveness-legend.text-center.ratings
                        ul.-legend
                          li
                            span
                            span.ratings__label enthusiastic yes
                          li
                            span
                            span.ratings__label yes
                          li
                            span
                            span.ratings__label neutral
                          li
                            span
                            span.ratings__label not really
                          li
                            span
                            span.ratings__label not at all
                    .col-md-9.hide#behaviors-panel
                      .graph-title.text-capitalize.text-center Behaviors
                      #wrapper.container-fluid.behaviours
                        .row
                          .col-md-12.g-cleared.chart-wrapper.behaviours__chart-wrapper
                          .text-center.ratings.behaviours__legend
                            ul.behaviours__legend-wrapper
                              li.behaviours__label-item.behaviours__label_you
                                span
                                span You
                              li.behaviours__label-item.behaviours__label_manager
                                span
                                span Your manager
                              li.behaviours__label-item.behaviours__label_team
                                span
                                span Your team
                              li.behaviours__label-item.behaviours__label_raters
                                span
                                span Your multi-raters

                    .col-md-9.hide#skills-panel
                      .graph-title.text-capitalize.text-center Skills
                      #wrapper.container-fluid.skills
                        .row
                          .col-md-12.g-cleared.chart-wrapper.skills__chart-wrapper
                            // new html
                            .skill__item
                            .skill__item
                          .text-center.ratings.skills__legend
                            ul.skills__legend-wrapper
                              li.skills__label-item.skills__label_you
                                span
                                span You
                              li.skills__label-item.skills__label_manager
                                span
                                span Your manager
                              li.skills__label-item.skills__label_team
                                span
                                span Your team
                              li.skills__label-item.skills__label_raters
                                span
                                span Your multi-raters

                    .row.col-md-9.text-center#no-data-graph
                      //p= 'No Data'
          .panel-wrapper
            include ongoing_assessments
        .col-sm-12.col-md-3
          .profile-wrapper.p-25
            .avatar.center-block
              img(src='#{user.avatar}', width='120', height='120', alt='avatar')
            .profile-name.text-capitalize.text-center.p-25
              span= userName
            ul.notifications
              each notification in notifications
                li
                  a(href=notification.url)
                    span
                      if notification.type.notificationType == 'SurveySubmission'
                        //img(src='/img/notice-icon-red.svg', width='23', height='23', alt='')
                      else
                        img(src='/img/notice-icon-orange.svg', width='23', height='23', alt='')
                    span= notification.text
          //
                 li
                    a(href='')
                      span
                        img(src='/img/notice-icon-red.svg', width='23', height='23', alt='')
                      span
                        | The following colleagues request your
                        | feedback no later than 7/10/16:
                    ul.list-unstyled
                      li
                        img(src='images/avatar-b-small.svg', width='35', height='35', alt='avatar')
                        span Adam Apple
                      li
                        img(src='images/avatar-b-small.svg', width='35', height='35', alt='avatar')
                        span Bert Bees
                      li
                        img(src='images/avatar-b-small.svg', width='35', height='35', alt='avatar')
                        span Charlie Angels
                  li
                    a.text-uppercase.text-center(href='') see all
