.panel.panel-default
  .panel-heading
    span.panel-title.text-capitalize
      img(src='/img/on-going-assessments-icon.svg', width='35', height='35', alt='insights icon')
      | on going survey
    span.panel-icon.pull-right(data-toggle='collapse', data-target='#on-going-assessments-wrapper')
      img(src='/img/collapse-icon.svg', width='20', height='20', alt='collapse icon')
  #on-going-assessments-wrapper.panel-body.collapse.in
    //.panel-content-header.text-center
      button.btn.btn-gray(type='submit', data-toggle='tooltip', data-placement='top', title='Add')
        img(src='/img/add-icon-white.svg', width='20', height='20', alt='add')
      button.btn.btn-gray(type='submit', data-toggle='tooltip', data-placement='top', title='Edit')
        img(src='/img/edit-icon-white.svg', width='20', height='20', alt='edit')
    .panel-content
      ul.list-unstyled
        each survey in surveys
          li.assessment-wrapper
            .assessment
              .assesment-title.text-uppercase= survey.name
              .timeline
                .timeline-icon
                  img(src='/img/rocket-icon.png', width='25', height='25', alt='')
                .progress
                  .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='#{survey.overallProgress}', aria-valuemin='0', aria-valuemax='100', style='width: #{survey.overallProgress}%;')
                    span.sr-only #{survey.overallProgress}% Complete
                    .timeline-circle
                      .timeline-circle-inner
                .timeline-icon
                  img(src='/img/award-icon.png', width='25', height='25', alt='')
            .assessment-action-buttons-wrapper
              .assessment-action-buttons
                //button.btn.btn-gray(type='submit', data-toggle='tooltip', data-placement='top', title='View')
                  img(src='/img/view-icon-white.svg', width='20', height='20', alt='view')
                a.btn.btn-gray(href='/send/reminders/#{survey._id}' data-toggle='tooltip', data-placement='top', title='Send Reminder')
                  img(src='/img/s-reminder-icon-white.svg', width='20', height='20', alt='send reminder')
