doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet' type='text/css')
    script(src='/js/client_helper.js')
    title Populo
    block variables
    block css
      link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
      link(rel='stylesheet', href='/css/lib/bootstrap-theme.min.css')
      link(rel='stylesheet', href='/css/layout.css')
      link(rel='stylesheet', href='/css/commons.css')
      each css_file in css_files
        link(rel='stylesheet', href=css_file)
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    include header
    block content
    include footer

    script(src='/js/libraries/jquery-2.1.4.min.js')
    script(src='/js/libraries/bootstrap.min.js')
    each js_file in js_files
      script(src=js_file)
