header#mainMenu.navbar.navbar-default.navbar-fixed-top.global
  if (user.role == 'HR Manager')
    .col-xs-6.hidden-xs
        nav.dropdown
          a#menuD.header-icon.pull-left(data-toggle='dropdown')
            img(src='/img/menu-icon.png')
          ul#menuD-wrapper.dropdown-menu.menuD(aria-labelledby='menuD')
            li
              a(href='/dashboard')
                img(src='/img/svg-icons/dashboard-icon-blue.svg', width='35', height='35')
                |  My Dashboard
            li
              a(href='/hr-insights')
                img(src='/img/insights-icon-b.svg', width='35', height='35')
                |  Insights

    .col-xs-6.visible-xs
        nav.sidebar
          a#show.header-icon.pull-left(href='#')
            img(src='/img/menu-icon.png')
          ul.list-unstyled
            li
              a(href='/dashboard')
                img(src='/img/svg-icons/dashboard-icon-blue.svg', width='35', height='35')
                |  My Dashboard
            li
              a(href='/hr-insights')
                img(src='/img/insights-icon-b.svg', width='35', height='35')
                |  Insights
  else if(user.role == 'Manager')
    .col-xs-6.hidden-xs
        nav.dropdown
          a#menuD.header-icon.pull-left(data-toggle='dropdown')
            img(src='/img/menu-icon.png')
          ul#menuD-wrapper.dropdown-menu.menuD(aria-labelledby='menuD')
            li
              a(href='/dashboard')
                img(src='/img/svg-icons/dashboard-icon-blue.svg', width='35', height='35')
                |  My Dashboard
            li
              a(href='/manager-insights')
                img(src='/img/insights-icon-b.svg', width='35', height='35')
                |  Insights

    .col-xs-6.visible-xs
        nav.sidebar
          a#show.header-icon.pull-left(href='#')
            img(src='/img/menu-icon.png')
          ul.list-unstyled
            li
              a(href='/dashboard')
                img(src='/img/svg-icons/dashboard-icon-blue.svg', width='35', height='35')
                |  My Dashboard
            li
              a(href='/manager-insights')
                img(src='/img/insights-icon-b.svg', width='35', height='35')
                |  Insights
  else
    .col-xs-6
      nav.dropdown
        a#menuD.header-icon.pull-left(href='/dashboard')
          img(src='/img/menu-icon.png')
  #mask.mask

  .col-xs-6
    .avatar-wrapper.pull-right
      nav.dropdown.hidden-xs.pull-right
        a#profile-menu(data-toggle='dropdown', href='#')
          .tile-avatar
            img(src='#{user.avatar}', width='43', height='43')
          #userMenu
            img(src='/img/menu-dots-icon.svg')
        ul#profileD-wrapper.dropdown-menu.menuD(aria-labelledby='profile-menu')
          //li
            a(href='#')
              img(src='/img/settings-icon-blue.svg', width='35', height='35')
              |  Settings
          //li
            a(href='#')
              img(src='/img/my-profile-icon-blue.svg', width='35', height='35')
              |  My Profile
          li
            a(href='/logout')
              img(src='/img/logout-icon-blue.svg', width='35', height='35')
              |  Logout
      a.header-icon.pull-right.tip.higher(href='#')
        img(src='/img/notifications-icon.svg')
      a.header-icon.pull-right.tip.higher(href='#')
        img(src='/img/messages-icon.svg')
